<form (ngSubmit)="onSubmit()" [formGroup]="userForm">
  <mat-form-field>
    <mat-label for="name">Name</mat-label>
    <input matInput id="name" formControlName="name" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label for="gender">Gender</mat-label>
    <mat-select id="gender" formControlName="gender" required>
      <mat-option value="male">Male</mat-option>
      <mat-option value="female">Female</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label for="email">Email</mat-label>
    <input matInput type="email" id="email" formControlName="email" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label for="phone">Phone Number</mat-label>
    <input matInput type="tel" id="phone" formControlName="phone" required>
  </mat-form-field>

  <button type="submit" [disabled]="userForm.invalid">Add User</button>
</form>
